*{
    margin: 0;
    height: 100vh;
}

body{
    background-image: url(../images/glasses.jpg);
     background-attachment: fixed; 
     background-size: cover;
    background-position: center;
}


